@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
	font-family: 'Quesha Regular';
	src: local('Quesha Regular'), url('fonts/Quesha.woff') format('woff');
}

body {
	margin: 0;
	background-color: #000000;
	position: relative;
	width: 100%;
	height: 100vh;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

.NavContainer {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	height: 60px;
	position: relative;
	margin-top: 24px;
	font-family: 'Raleway', sans-serif;
}

.group,
.frame {
	border-bottom: #fff solid 1px;
}
.logo {
	background-color: #fff;
	border-radius: 50%;
}
.menu-icon {
	display: none;
}

.nav-elements ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
	margin-right: 60px;
}

.nav-elements ul a {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}

@media (max-width: 1007px) {
	.menu-icon {
		display: block;
		cursor: pointer;
	}

	.nav-elements {
		right: 0;
		top: 60px;
		background-color: #000000;
		width: 0px;
		height: calc(100vh - 60px);
		transition: all 0.3s ease-in;
		overflow: hidden;
	}

	.nav-elements.active {
		width: 270px;
	}

	.nav-elements ul {
		display: flex;
		flex-direction: column;
	}

	.nav-elements ul li:not(:last-child) {
		margin-right: 30px;
	}
}

@media (max-width: 600px) {
	.menu-icon {
		display: block;
		cursor: pointer;
	}

	.nav-elements {
		right: 0;
		top: 60px;
		background-color: #000000;
		width: 0px;
		height: calc(100vh - 60px);
		transition: all 0.3s ease-in;
		overflow: hidden;
	}

	.nav-elements.active {
		width: 270px;
	}

	.nav-elements ul {
		display: flex;
		flex-direction: column;
	}

	.nav-elements ul li {
		margin-right: unset;
		margin-top: 22px;
	}
}

/* Hero section */

.HeroSection {
	display: flex;

	width: 100%;
	height: 568px;
	margin-left: -12px;
	margin-top: 30px;
}

.heroText {
	width: 508px;
	left: 0px;
	top: 140px;
	background-color: #fff;
}
.heroText div {
	width: 384px;
	height: 308px;
	margin-left: 62px;
	text-align: left;
	color: #000;
}
.heroText img {
	margin-left: -0.83%;
	margin-right: 90.76%;
}
.heroText h1 {
	font-family: 'Quesha Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 90px;
	line-height: 75px;
}
.heroText p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.1px;
}

.heroImage {
	width: 932px;
}
@media (max-width: 600px) {
	.HeroSection {
		display: flex;
		flex-direction: column;
	}
	.heroText {
		width: 600px;
	}
	heroImage {
		width: 600px;
	}

	.heroImage img {
		width: 100%;
		height: auto;
	}
}
/* SecondPart */
.SecondPart h2 {
	font-family: 'Quesha Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	line-height: 75px;
	color: #ffffff;
}
.SecondPart p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.1px;
}
.grid {
	display: flex;
}
.leftGrid {
	text-align: right;
}

.leftGrid div {
	width: 50%;
	margin-left: auto;
	margin-right: 0;
	padding-right: 70px;
}

.imgGrid {
	width: 60%;
}

.imgGrid img {
	width: 100%;
	height: 546px;
}
.rightGrid {
	text-align: left;
}
.rightGrid div {
	width: 50%;
	margin-left: 0;
	margin-right: auto;
	padding-left: 70px;
}
/* ThirdPart */
.ThirdPart {
	margin-left: 60px;
	margin-top: 120px;
}
.ThirdPart h1 {
	font-family: 'Quesha Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	line-height: 75px;
	text-align: left;
}
.leftRectangle,
.midRectangle,
.rightRectangle {
	width: 33.33%;
	text-align: justify;
}

.ThirdPart img,
p {
	width: 80%;
	height: auto;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.1px;
}
/* FourthPart */
.FourthPart h2 {
	font-family: 'Quesha Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	line-height: 75px;
	text-align: center;
	color: #ffffff;
}

.FourthPartColumn {
	height: 446px;
	background-color: #0e0e0e;
	border-radius: 6px;
	width: 25%;
	text-align: center;
}
.FourthPartColumn img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.FourthPartColumn h2 {
	font-family: 'Quesha Regular';
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
}
.FourthPartColumn p {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #a35715;
	margin-left: auto;
	margin-right: auto;
}
/* Footer */
.footer {
	width: 1440px;
	height: 275px;
	left: 0px;
	top: 5916px;
}
